<h2>
  How do I sign up?
</h2>
<p>
  Simply click on 'Sign Up' and enter a username, your valid email address, and password for your account with Scam Protector. Once you validate your email, you'll be able to register and authenticate email addresses to be monitored by our system.
</p>

<h2>
  How do I register an email to be monitored?
</h2>
<p>
  Once you are logged in and at your Dashboard, select the option 'Add Email' and provide the email to be monitored. We will send a validation email that will connect it to our system to be monitored.
</p>

<h2>
  Is Gmail the only email domain that can be monitored?
</h2>
<p>
  Yes. Currently, our system is only compatible with monitoring Gmail. We're currently working on getting other email domains monitored (Yahoo, Aol, etc).
</p>

<h2>
  Will you clean out ALL personal information from the emails?
</h2>
<p>
  We can only guarantee a certain percentage of accuracy for our system to scrub out personal information from emails. As such, by signing up, you are agreeing that we are not held accountable for the any information the system misses when scrubbing emails.
</p>

<h2>
  How is this safe? Are you actually going to steal personal information for yourselves?
</h2>
<p>
  We will NEVER store any of the personal information we scrub from emails.
</p>