<h2>
  WHO WE ARE
</h2>
<p>
  We're a small team called the Scam Protectors that consists of four individuals from the University of Utah. 
</p>

<h2>
  WHAT WE DO
</h2>
<p>
  We help prevent loved ones and vulnerable technology users (VTUs) from becoming victims of social engineering attempts through Gmail.
</p>

<h2>
  HOW WE DO IT
</h2>
<p>
  We utilize natural language processing and machine learning to scrub emails of sensitive personal information (i.e. credit/debit card numbers, social security numbers) in order to prevent hostile email senders from scamming VTUs.
  Once you sign up with a valid email, you can authenticate additional email addresses (including the one used to sign up) to have monitored for social engineering attempts.
</p>